<%if(authenticated === true){%>
<%-include("partials/header", {location: "Messages", authenticated: authenticated, username: username});%>
<%} else{%>
    <%-include("partials/header", {location: "Messages", authenticated: authenticated});%>
<%}%>

    <h3><i class="bi bi-chat-right-text icons"></i> Messages</h3>
    </br>
    <%if(type === "gn-messages"){%>
    <div class="chat-full-box">
    
        <div class="chat-rec-box">
            <a href="/message">
                <button>
                <h5>Elizabeth Monalisa</h5>
                <p>2<i class="bi bi-envelope-fill icons"></i> Hey! It's been a while. <i class="bi bi-chevron-right icon-c"></i></p>
                </button>
            </a>
        </div><hr/>

        <div class="chat-rec-box">
            <a href="/message">
                <button>
                <h5>Elizabeth Monalisa</h5>
                <p>2<i class="bi bi-envelope-fill icons"></i> Hey! It's been a while. <i class="bi bi-chevron-right icon-c"></i></p>
                </button>
            </a>
        </div><hr/>

        <div class="chat-rec-box">
            <a href="/message">
                <button>
                <h5>Elizabeth Monalisa</h5>
                <p>2<i class="bi bi-envelope-fill icons"></i> Hey! It's been a while. <i class="bi bi-chevron-right icon-c"></i></p>
                </button>
            </a>
        </div><hr/>

        <div class="chat-rec-box">
            <a href="/message">
                <button>
                <h5>Elizabeth Monalisa</h5>
                <p>2<i class="bi bi-envelope-fill icons"></i> Hey! It's been a while. <i class="bi bi-chevron-right icon-c"></i></p>
                </button>
            </a>
        </div><hr/>

        <div class="chat-rec-box">
            <a href="/message">
                <button>
                <h5>Elizabeth Monalisa</h5>
                <p>2<i class="bi bi-envelope-fill icons"></i> Hey! It's been a while. <i class="bi bi-chevron-right icon-c"></i></p>
                </button>
            </a>
        </div><hr/>
    
    
        <button class="see-more-button">See more <i class="bi bi-arrow-return-left icon-b"></i></button>
    </div>
    <%}else if(type === "ps-messages"){%>
    <div class="ps-chat">
        <div class="ps-chat-head">
            <a href="/profile">
                <img src="images/elizabethprofile.jpg" alt="profile-picture" class="ps-chat-profile-img-sm">
            </a>
            <div id="ps-chat-head-text">
                <a href="/profile">
                    <p class="ps-chat-header name"><%=fgDetails.username%></p>
                </a>
                <p class="ps-chat-header last-seen"><i class="bi bi-eye-fill"></i> Last seen Today at 12:03pm</p>
            </div>
        </div>

        <%if(typeof msgValues !== "undefined"){%>
            <div class="chat-id-1-2">
                <%msgValues.forEach((msgValue) => {%>
                    <%if(msgValue.fgId == fgId){%>
                        <%msgValue.message.forEach((msgValueMessage) => {%>
                            <%if(msgValueMessage.msgType === "sent"){%>
                                <img src="images/elizabethprofile.jpg" alt="profile-picture" class="ps-chat-profile-img-xsm">
                                <p class="chat-id-2"><%=msgValueMessage.message%></p></br>
                            <%}else if(msgValueMessage.msgType === "recieved"){%>
                                <img src="images/elizabethprofile.jpg" alt="profile-picture" class="ps-chat-profile-img-xsm">
                                <p class="chat-id-1"><%=msgValueMessage.message%></p></br>
                            <%}%>
                        <%});%>
                    <%}%>
                <%});%>
            </div><hr/>
    
        <%}else{%>
            <div class="chat-id-1-2">
                <p style="text-align: center; background-color: cornflowerblue; border-radius: 15px; padding: 5px;">Say Hi! to your new friend</p></br>
            </div><hr/>
    
        <%}%>
        


        <!-- <img src="images/profile.jpg" alt="profile-picture" class="ps-chat-profile-img-xsm"> -->
        <form action="/message?fgId=<%=fgId%>" id="message" method="post" class="message-form">
            <textarea name="message" id="message" cols="40" rows="3" class="message-input"></textarea>
        </form>
        <button form="message" class="msg-send-button"><i class="bi bi-send"></i></button></br></br>
    </div>
    <%}%>
<%-include("partials/footer", {brandName: "Socialite"});%>