<%if(authenticated === true){%>
<%-include("partials/header", {location: "Profile", authenticated: authenticated, username: user.username});%>
<%} else{%>
<%-include("partials/header", {location: "Profile", authenticated: authenticated});%>
<%}%>
<h3><i class="bi bi-tag-fill icons"></i>Profile</h3>
<img src="images/<%=user.profile_picture%>" alt="profile image" class="profile-img-md">

<h2 class="profile-pg-name"><%=user.username%></h2>
<p><%=user.email%></p>
<p>Posts: 0</p>
<p>Friends: 0</p>
<p>Birthday: 0</p>
<p>Age: 0 Yrs</p>

<a href="/edit-profile"><i class="bi bi-pencil"></i><p class="edit-profile-button">Edit</p></a></br>
<a href="/settings">Go to settings</a>

<%-include("partials/footer", {brandName: "Socialite"});%>